<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.device.audio-input</key>
	<true/>
	<key>com.apple.security.device.camera</key>
	<true/>
	<key>com.apple.security.device.bluetooth</key>
	<true/>
	<key>com.apple.security.device.usb</key>
	<true/>
	<key>com.apple.security.device.serial</key>
	<true/>
	<key>com.apple.security.device.audio-video-bridging</key>
	<true/>
	<key>com.apple.security.personal-information.location</key>
	<true/>
	<key>com.apple.security.personal-information.addressbook</key>
	<true/>
	<key>com.apple.security.personal-information.calendars</key>
	<true/>
	<key>com.apple.security.personal-information.photos-library</key>
	<true/>
	<key>com.apple.security.files.user-selected.read-write</key>
	<true/>
	<key>com.apple.security.files.downloads.read-write</key>
	<true/>
	<key>com.apple.security.files.bookmarks.app-scope</key>
	<true/>
	<key>com.apple.security.assets.pictures.read-write</key>
	<true/>
	<key>com.apple.security.assets.music.read-write</key>
	<true/>
	<key>com.apple.security.assets.movies.read-write</key>
	<true/>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.network.server</key>
	<true/>
	<key>com.apple.security.print</key>
	<true/>
	<key>com.apple.security.automation.apple-events</key>
	<true/>
	<key>com.apple.developer.ClassKit-environment</key>
	<string>development</string>
	<key>com.apple.developer.accessibility.merchant-api-control</key>
	<true/>
	<key>com.apple.developer.accessory-data-provider</key>
	<true/>
	<key>com.apple.developer.accessory-setup-discovery-extension</key>
	<true/>
	<key>com.apple.developer.accessory-transport-extension</key>
	<true/>
	<key>com.apple.developer.accessory-transport-security</key>
	<true/>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>lexusnexuscapital.com</string>
	</array>
	<key>com.apple.developer.authentication-services.account-creation-requires-phone-number</key>
	<true/>
	<key>com.apple.developer.authentication-services.autofill-credential-provider</key>
	<true/>
	<key>com.apple.developer.background-tasks.continued-processing.gpu</key>
	<true/>
	<key>com.apple.developer.default-data-protection</key>
	<string>NSFileProtectionComplete</string>
	<key>com.apple.developer.devicecheck.app-attest-opt-in</key>
	<array>
		<string>CDhash</string>
	</array>
	<key>com.apple.developer.devicecheck.appattest-environment</key>
	<string>development</string>
	<key>com.apple.developer.game-center</key>
	<true/>
	<key>com.apple.developer.healthkit</key>
	<true/>
	<key>com.apple.developer.healthkit.access</key>
	<array>
		<string>health-records</string>
	</array>
	<key>com.apple.developer.healthkit.background-delivery</key>
	<true/>
	<key>com.apple.developer.homekit</key>
	<true/>
	<key>com.apple.developer.in-app-payments</key>
	<array/>
	<key>com.apple.developer.kernel.increased-memory-limit</key>
	<true/>
	<key>com.apple.developer.maps</key>
	<true/>
	<key>com.apple.developer.networking.carrier-constrained.app-optimized</key>
	<true/>
	<key>com.apple.developer.networking.carrier-constrained.appcategory</key>
	<array>
		<string>weather-8005</string>
		<string>news-8011</string>
		<string>maps-8002</string>
		<string>voip-8006</string>
		<string>health-fitness-8014</string>
		<string>payment-8015</string>
		<string>light-social-8008</string>
		<string>messaging-8001</string>
		<string>food-delivery-8010</string>
		<string>music-8004</string>
		<string>emergency-8007</string>
		<string>hiking-adventure-8003</string>
		<string>productivity-8012</string>
		<string>interactive-productivity-8013</string>
		<string>ride-share-8009</string>
	</array>
	<key>com.apple.developer.networking.slicing.appcategory</key>
	<array>
		<string>games-6014</string>
		<string>communication-9000</string>
		<string>streaming-9001</string>
	</array>
	<key>com.apple.developer.networking.slicing.trafficcategory</key>
	<array>
		<string>responsivedata-6</string>
		<string>responsiveav-8</string>
		<string>background-3</string>
		<string>voice-4</string>
		<string>video-2</string>
		<string>callsignaling-5</string>
		<string>avstreaming-7</string>
		<string>defaultslice-1</string>
	</array>
	<key>com.apple.developer.networking.wifi-info</key>
	<true/>
	<key>com.apple.external-accessory.wireless-configuration</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array/>
	<key>inter-app-audio</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)com.macmoore.Sierra</string>
		<string>$(AppIdentifierPrefix)com.macmoore.Sierra 1</string>
		<string>$(AppIdentifierPrefix)com.macmoore.Sierra 2</string>
	</array>
</dict>
</plist>
